*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*SECCION INICIO*/


/*FIN INICIO*/



/*SECCION SERVICIOS*/

/*FIN SERVICIOS*/



/*SECCION CONTACTO Y FOOTER*/

/*FIN CONTACTO Y FOOTER*/