:root {
    /* Color Principal / Oscuro (Banner superior y footer) */
    --primary-dark: #1c316d;

    /* Color de Acento (Líneas divisorias y botones) */
    --accent-blue: #2f6aca;

    /* Fondos */
    --bg-main: #f8f9fa;
    --bg-card: #ffffff;

    /* Colores de Texto */
    --text-heading: #1d3557;
    --text-body: #495057;
    --text-muted: #6c757d;

    /* Elementos secundarios (como los avatares) */
    --avatar-bg: #e2e8f0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*SECCION INICIO*/
    .sticky-header{
        position:sticky;
        top:0;
        width: 100%;
        z-index: 1000;
        padding: 15px 20px;
    }

    .text-blue{
        color:var(--accent-blue);
    }

    .main-nav ul{
        list-style: none;
        display: flex;
        gap: 20px;
    }

    .main-nav ul a{
        text-decoration: none;
        color: rgb(24, 24, 78);
    }

    .header-content{
        max-width: 1200px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            font-weight: bold;
            font-size: 18px;
        }
    }

    .hero-section{
        height: 90vh; /*view height, el 90% del espacio visible de la pantalla*/
        background-color: var(--primary-dark);
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /*capa de oscurecimiento (overlay)*/
    .hero-overlay{
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        padding: 20px;

        /*flexbox centrado dentro de la caja*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        color:var(--text-light);
    }

    .hero-overlay h1{
        font-size: 2rem;
        margin-bottom: 10px;
        color:white;
    }

    .hero-overlay p{
        font-size: 1rem;
        max-width: 600px;
        margin-bottom: 20px;
        color:rgb(143, 141, 141);
    }

    .cta-button{
        background-color: var(--accent-blue);
        color: white;
        padding:12px 25px;
        text-decoration: none;
        border-radius: 7px;
        font-weight: 600;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .cta-button:hover{
        transform: scale(1.05);/*efecto de aumento leve al pasar el cursor*/
    }

/*FIN INICIO*/



/*SECCION SERVICIOS*/

/*FIN SERVICIOS*/



/*SECCION CONTACTO Y FOOTER*/

/*FIN CONTACTO Y FOOTER*/